 body {
    background-color: white;
    display: block;
    width: auto;
    font-family: "Roboto", sans-serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

 form {
    display: block;
    margin-top: 4cap;
}

.search-form-input{
    background-color: #f2f1f5;
    border: none;
    border-radius: 6px;
    width: 70%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button{
    background: #885df1;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
}

main{
    padding-top: 3cap;
}
.weather-details{
    display: flex;
    justify-content: space-around;

}
.weather-app-temperature-container{
    display: flex;
}
.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.weather-app-temperature{
   font-size: 70px;
   font-weight: 600;
}
.weather-app-unit{
    font-size: 20px;
    font-weight: 500;
}

.weather-forecast{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.weather-forecast-temperatures{
    text-align: center;
    color: #f65282;
    margin-top: 10px;
    display: flex;   
    justify-content: space-around; 
}
.weather-forecast-icon{
  font-size: 50px;
  align-items: normal;
}
.weather-forecast-date{
    text-align: center;
    opacity: 50%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    }
footer{
    display: block;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}